<div class="flex items-center gap-x-6 bg-indigo-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-6 text-white">
    <a href="https://www.meetup.com/ctrl-h/events/300803628/">
      <strong class="font-semibold">Portland Area Robotics Society</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Join us Sunday May 5th for a presentation by Joseph Cole on the Mobile ALOHA robot&nbsp;<span aria-hidden="true">&rarr;</span>
    </a>
  </p>
  <div class="flex flex-1 justify-end">

  </div>
</div>
