<div class="flex items-center gap-x-6 bg-dark-green-500 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-6 text-white">
    <a href="https://www.meetup.com/demolicious-portland/events/302519875/">
      <strong class="font-semibold">Demolicious Portland</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Come watch our pitch on September 19th by co-founder Duncan Miller &nbsp;<span aria-hidden="true">&rarr;</span>
    </a>
  </p>
  <div class="flex flex-1 justify-end">

  </div>
</div>
