<div class="flex items-center gap-x-6 bg-dark-green-500 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-6 text-white">
    <!--
      <a href="https://www.meetup.com/demolicious-portland/events/303009463">
        <strong class="font-semibold">We Won Demolicious!</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Come watch co-founder Duncan Miller defend our title on October 24th &nbsp;<span aria-hidden="true">&rarr;</span>
      </a>
    -->
      <a href="https://www.eventbrite.com/e/sept-2024-central-oregon-pubtalk-on-the-road-to-bvc-tickets-968982291117">
        <strong class="font-semibold">BVC Semifinalist</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Come watch us pitch Sept 26th in the semifinals for Bend Venture Conference &nbsp;<span aria-hidden="true">&rarr;</span>
      </a>
  </p>
  <div class="flex flex-1 justify-end">

  </div>
</div>
