<div class="<%= outer_classes %>">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="<%= inner_classes %>">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <%= content %>
      </div>
    </div>
  </div>
</div>
